@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    background: url("../images/IGDB.png");
    background-size: cover;
    background-attachment: fixed;
}

.page-title {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 5em;
    color: white;
    text-shadow: 10px 10px black;
}

#gameCharacters {
    display: flex;
    flex-wrap: wrap;
}
#gameCharacters button {
    flex: 1 0 20%;
    margin: 5px;
}
.container > .row > div > div {
    background-color: white;
    border-radius: 5px;
}
#gameSimilar > div:hover {
    cursor: pointer;
    background-color: lightgray;
}

.container > .row > h1 {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 5em;
    /* text-decoration: blink; */
    color: white;
    text-shadow: 10px 10px black;
}
/*
.row div h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1.2em;
}*/
header {
    margin-top: 10px;
}
.btn {
    border-radius: 0px 8px 8px 0px;
}
.card {
    padding: 20px;
}
.card:hover {
    cursor: pointer;
    background-color: lightgray;
}
